
body {
    font-family: "Segoe UI", "Noto Color Emoji", "Apple Color Emoji", sans-serif;
    background: linear-gradient(135deg, #e2e2e2, #f9f7fe);
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    color: #4e44f2;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
  }
  
  
  .container {
    max-width: 600px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(100, 100, 111, 0.2);
    border-radius: 15px;
    transition: transform 0.2s ease;
  }
  
  .container:hover {
    transform: scale(1.01);
  }
  
  select {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 12px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #4e44f2;
    color: #333;
    outline: none;
    transition: 0.3s;
  }
  
  select:hover {
    border-color: #333;
  }
  
  
  .city {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  }
  
  .city:last-child {
    border-bottom: none;
  }
  
  h2 {
    margin: 0;
    font-size: 26px;
    color: #4e44f2;
  }
  
  .date {
    font-size: 16px;
    color: #888;
    opacity: 0.8;
  }
  
  .time {
    font-size: 48px;
    color: #333;
    font-weight: bold;
  }
   
  
  footer {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #666;
  }
  
  footer a {
    color: #4e44f2;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  